@model IEnumerable<BTL_LapTrinhWeb.ViewModels.MenuLoaiVM>
<div class="vesitable">
    <div class="owl-carousel vegetable-carousel justify-content-center">
        @foreach (var item in Model)
        {
            <div class="product-card text-center">
                <div class="py-4 content">
                    <h5 style="color:white;">@item.TenLoai</h5>
                    <a asp-controller="HangHoa" asp-action="Index" asp-route-loai="@item.MaLoai" class="btn border border-secondary rounded-pill px-3 text-primary">
                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Xem ngay
                    </a>
                </div>
            </div>
        }
    </div>
</div>
