@model IEnumerable<BTL_LapTrinhWeb.ViewModels.MenuLoaiVM>
<div class="vesitable">
    <div class="owl-carousel vegetable-carousel justify-content-center">
        @foreach (var item in Model)
        {
            <div class="product-card text-center" style="background-image: url('@Url.Content("~/LayOutCustomer/Hinh/Loai/" + item.Hinh)')">
                <div class="py-4 content">
                    @* <h5 style="color: white; border: 2px solid white; padding: 5px;">@item.TenLoai</h5> *@
                    <a asp-controller="HangHoa" asp-action="Index" asp-route-loai="@item.MaLoai" class="btn btn-light text-dark border border-dark custom-btn">
                        @item.TenLoai
                    </a>
                </div>
            </div>
        }
    </div>
</div>
