@{
    ViewData["Title"] = "Branch";
    Layout = "_LayoutCustomer";
}

@section BreadCum {
    <div class="container-fluid py-5 " style="margin-top:120px; background-color: #f0f0f0;">
        <h1 class="text-center text-black display-6">Tin tức</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="text-black">Trang chủ</a></li>
            <li class="breadcrumb-item active text-black-50">Chi nhánh</li>
        </ol>
    </div>
}
<div class="container py-5">
    <h1>Chi nhánh</h1>
    <p>Thông tin về các chi nhánh</p>
</div>